<h1> <%= @book.title %> ( <%= @book.pages %> pages)</h1>

Authors:

<ul>

<% @book.author_books.each do |auth_bk|%>
  <li> <%= link_to auth_bk.author.name, author_path(auth_bk.author_id) %> </li>
  <br>
<% end %>

</ul>

<%= form_for @authors.each do |auth| %>
